@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --gradient-color-1: linear-gradient(to right, orangered 50%, blue);
    --gradient-color-2: linear-gradient(to right, rgb(222, 219, 214) 0%, rgb(226, 218, 218), rgb(255, 255, 255),white);
    --gradient-color-3: linear-gradient(to right, rgb(255, 254, 254) 0%, white, rgb(229, 221, 221),rgb(219, 209, 209));
    --gray: rgb(172, 165, 165);
    --border: rgb(195, 194, 194);
    --darkblue: rgb(0, 0, 122);
    --darkorange: #ad3603;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.underline-hover {
position: relative;
display: inline-block;
color: #000; /* text color */
text-decoration: none;
}

.underline-hover::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 100%;
background-image: var(--gradient-color-1);
transform: scaleX(0);
transform-origin: right;
transition: transform 0.3s ease;
}

.underline-hover:hover::after {
transform: scaleX(1);
transform-origin: left;
}


.logo{
    width: 12vw;
    padding-top: 10px;
}
.header{
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
}
a {
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    width: 40vw;
    cursor: pointer;
    border: 1px solid rgb(195, 194, 194);
    padding: 10px 0px;
    border-radius: 30px;
}
ul{
  list-style-type: none;  
}


.header-right{
    display: flex;
}

.header-btn{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: var(--darkblue);
    border: 1px solid rgb(195, 194, 194);
    font-size: 18px;
    cursor: pointer;
    &:hover{

        transition: all 0.5s ease;
        background-image: var(--gradient-color-3);
        color: black;
        & span{
            transition: all 0.5s ease;
            margin: 0px 3px;
        }
    }
}
.hero-btn{
    width: 200px;
    padding: 10px 20px;
    background-color: var(--darkblue);
    color: white;
    border-radius: 30px;
    color: whitesmoke;
    border: none;
    border: 1px solid rgb(195, 194, 194);
    font-size: 18px;
    cursor: pointer;
    &:hover{

        transition: all 0.5s ease;
        background-image: var(--gradient-color-3);
        color: black;
        & .arrow{
            transition: all 0.5s ease;
            padding: 0px 10px;
        }
    }
}

section{
    margin-top: 80px;
}

.hero-left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & h1{
        font-size: 40px;
        font-weight: 600;
        color: var(--darkblue);
    }
    & p{
        font-size: 20px;
        font-weight: 400;
        color: var(--gray);
    }
    & .tag{
        color: var(--darkorange);
    }
}
.hero-ani{
    border: rgb(195, 194, 194) 1px solid;
    border-radius: 5px;
    width: 40vw;
    display: flex;
    gap: 10px;
    overflow: hidden;
    & img{
        width: 20vw;
        height: 40vh;
    }
    & h1{
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: white;
    }
    
}
.ani-h1{
    display: flex;
    height: 5vw;
    background-color: var(--darkblue);
    align-items: center;
    justify-content: center;
}
.hero-ani{
    margin: 10px auto;
   
   
}

@keyframes slider {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-300%);
    }
}
.ani{
    animation: slider 8s linear infinite;
}


