.flex{
    display: flex;
}
.grid{
    display: grid;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.display-85{
    width: 85vw;
    margin: auto;
}
.display-80{
    width: 80vw;
    margin: auto;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.active {
    color: blue; /* or any color */
    font-weight: bold;
}
